__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.gitignore
.mypy_cache
.pytest_cache
.hypothesis

.DS_Store
*.swp
*.swo
*~

.vscode/
.idea/
*.iml

uploads/
test_videos/
tests/
*.mp4
*.mov
*.mkv
*.webm
*.avi

.github/
README.md
LICENSE
